[submodule "build"]
	path = build
	url = ../rock3a-build.git
[submodule "rkbin"]
	path = rkbin
	url = ../rock3a-rkbin.git
[submodule "u-boot"]
	path = u-boot
	url = ../rock3a-u-boot.git
[submodule "rootfs"]
	path = rootfs
	url = ../rock3a-rk-rootfs-build.git
[submodule "kernel"]
	path = kernel
	url = ../rock3a-kernel.git
